@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background: #000; ;
}

main {
  background:#830494 ;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}